*{
  margin: 0;
  padding: 0;
}
.App{
  background-color:#1f2122;
}
.heading_txt h2 {
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}
.heading_txt span {
  color: #ec6090;   
}
/* MEADIA QUERIES  for small device*/
@media screen and (max-width:767px) {
  .heading_txt h2 {
    text-align: center;
  }
}

/* MEADIA QUERIES  for medium device*/
@media screen and (min-width:768px) and (max-width:992px) {
 
}